@charset "UTF-8";

@font-face {
    font-family: 'Source Sans Pro Semi-Bold';
    src: url(../fonts/SourceSansPro-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'Source Sans Pro Regular';
    src: url(../fonts/SourceSansPro-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url(../fonts/SourceSansPro-Light.ttf);
    font-weight: 300;
}

:root {
    --colorPrimary: #040725;
    --colorSecundary: #133575;
    --colorTertiary: #111540;
    --colorWhite: #FFFFFF;
    --colorButton: #141A5E;
    --colorTransaction: #afb5fa;

    --font-text-light: "Source Sans Pro Light", sans-serif;
    --font-text-regular: "Source Sans Pro Regular", sans-serif;
    --font-text-semi: "Source Sans Pro Semi-Bold", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    background-color: var(--colorPrimary);
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

/* Global */
button {
    background-color: var(--colorButton);
    color: var(--colorWhite);
    min-width: 117px;
    min-height: 40px;
    border-radius: 5px;
    border: none;
    font-family: var(--font-text-regular);
    font-size: 1.2500em;
}

section {
    margin-top: 10px;
}

footer > div {
    display: flex;
    justify-content: center;
    font-family: var(--font-text-regular);
    font-size: 1.2500em;
    text-align: center;
    color: var(--colorWhite);
}

@media (max-width: 480px) {
    footer {
        padding: 20px;
    }

    footer > div {
        font-size: 12px;
    }

    footer > .container {
        padding: 0px;
    }
}

h1 {
    font-family: var(--font-text-semi);
    font-size: 2em;
    text-align: left;
    margin-bottom: 18px;
    color: var(--colorWhite);
}

h2 {
    font-family: var(--font-text-regular);
    font-size:  1.5em;
    padding: 10px;
    text-align: center;
    color: var(--colorWhite);
    background-color: var(--colorSecundary);
}

main {
    min-width: 300px;
}

.container {
    margin: 0 auto;
    padding: 40px;
    max-width: 1200px;
}

.divider {
    height: 4px;
    background-color: var(--colorTertiary);
}

/* Nav */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 102px;
    z-index: 999;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1200px;
    min-height: 70px;
    padding-left: 40px;
    padding-right: 40px;

}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container > img {
    width: 70px;
}

.logo-container > p {
    padding-left: 15px;
    font-family: var(--font-text-semi);
    font-size: 1.2500em;
    color: var(--colorWhite);
}

.menu > a {
    margin-left: 16px;
    font-family: var(--font-text-regular);
    font-size: 1.2500em;
    transition-duration: .5s;
    color: var(--colorWhite);
}

.menu > a:hover {
    text-decoration: none;
    color: var(--colorTransaction);
}

.drawer {
    display: none;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu > a {
        margin-left: 0;
    }

    .menu.active {
        position: fixed;
        top: 1px;
        right: 1px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
        padding: 10px;
        height: 200px;
        width: 9.375em;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
    }

    .drawer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .drawer > img {
        height: 3em;
        width: 3em;
    }
}

@media (max-width: 480px) {
    .logo-container > img {
        width: 50px;
    }

    .logo-container > p {
        font-size: 1em;
    }

    .menu > a {
        font-size: 0.875em;
    }
}

/* sobre */
.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 102px 40px 40px 40px;
    max-width: 1200px;
    gap: 20px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px 35px 5px;
    width: 100%;
}

.column-info {
    display: flex;
    flex-direction: column;
}

.column-info > h1 {
    margin: 0;
}

.column-info > p {
    font-family: var(--font-text-semi);
    font-size: 1.25em;
    text-align: left;
    color: var(--colorTransaction);
}

.profile > img {
    width: 250px;
    padding-bottom: 5px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.information > p {
    font-family: var(--font-text-regular);
    font-size: 1.2500em;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--colorWhite);
}

.information > button {
    align-self: start;
    transition-duration: .5s;
}

.information > button:hover {
    cursor: pointer;
    font-family: var(--font-text-semi);
    color: var(--colorPrimary);
    background-color: var(--colorTransaction);
}

.information > h1 {
    text-align: center;
}

@media (max-width: 768px) {
    .profile > img {
        width: 180px;
    }

    .column-info > h1 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .profile {
        flex-direction: column-reverse;
        justify-content: space-between;
        height: 250px;
    }

    .information > p {
        font-size: 16px;
    }

    .information > button {
        font-size: 18;
    }

    .information > h1 {
        font-size: 22px;
    }

    .column-info > h1 {
        font-size: 20px;
    }

    .column-info > p {
        font-size: 14px;
    }
}

/* services */
.grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19em, 1fr));
    grid-gap: 40px;
}

.services-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 14.0625em;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--colorSecundary);
    transition: transform 0.3s ease;
}

.services-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.services-card > img {
    width: 6.25em;
    background-color: var(--colorSecundary);
}

.services-card > p {
    font-family: var(--font-text-regular);
    font-size: 1.5em;
    text-align: center;
    color: var(--colorWhite);
    background-color: var(--colorSecundary);
}

@media (max-width: 768px) {
    .services-card > p {
        font-size: 1.2500em;
    }
}

@media (max-width: 480px) {
    .grid-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 40px;

    }

    .services-card > img {
        width: 50px;
        background-color: var(--colorSecundary);
    }

    .services-card > p {
        font-size: 16px;
    }

    .container > h1 {
        font-size: 22px;
    }
}

/* skills */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    gap: 40px;
}
  
.skills-card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    aspect-ratio: 1/1;
    background-color: var(--colorSecundary);
    transition: transform 0.3s ease;
}

.skills-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.skills-card > img {
    width: 50%;
    background-color: var(--colorSecundary);
}

.skills-card > p {
    font-family: var(--font-text-regular);
    font-size: 1.5em;
    text-align: center;
    color: var(--colorWhite);
    background-color: var(--colorSecundary);
}

@media (max-width: 480px) {
    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .skills-card > p {
        font-size: 16px;
    }

    .container > h1 {
        font-size: 22px;
    }
}

.projects-certifications-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.projects-certifications-card {
    padding: 1px;
    border-radius: 5px;
    background-color: var(--colorSecundary);
    transition: transform 0.3s ease;
}

.projects-certifications-card:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.projects-certifications-card > img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.projects-certifications-card > p {
    font-family: var(--font-text-regular);
    font-size: 1.125em;
    text-align: center;
    color: var(--colorWhite);
    padding-bottom: 10px;
    background-color: var(--colorSecundary);
}

@media (max-width: 480px) {
    .container > h1 {
        font-size: 22px;
    }
    
    .projects-certifications-grid {
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
        gap: 32px;
    }

    .projects-certifications-card > h2 {
        font-size: 16px;
    }

    .projects-certifications-card > p {
        font-size: 12px;
    }
}

/*CONTACTS*/
.contact-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s ease;
}

.contact-form:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.contact-form > h2 {
    padding: 0;
    margin: 0;
    background-color: var(--colorPrimary);
}

.contact-form > p {
    font-family: var(--font-text-light);
    font-size: 1em;
    text-align: center;
    padding-bottom: 10px;
    color: var(--colorWhite);
}

.contact-form > img {
    width: 40%;
}

@media (max-width: 480px) {
    .container > h1 {
        font-size: 22px;
    }
    
    .contact-form > h2 {
        font-size: 16px;
        padding: 10px;
    }
    
    .contact-form > p {
        font-size: 12px;
    }
}