@charset "UTF-8";

@font-face {
    font-family: 'Exo Semibold';
    src: url(../assets/fonts/Exo-SemiBold.ttf) format('truetype');
    font-weight: 600;
}
  
@font-face {
    font-family: 'Exo Medium';
    src: url(../assets/fonts/Exo-Medium.ttf) format('truetype');
    font-weight: 500;
}
  
@font-face {
    font-family: 'Exo Regular';
    src: url(../assets/fonts/Exo-Regular.ttf) format('truetype');
    font-weight: 400;
}
  
@font-face {
    font-family: 'Exo Light';
    src: url(../assets/fonts/Exo-Light.ttf) format('truetype');
    font-weight: 300;
}

:root {
    --primary-color: #111540;
    --secundary-color: #363B73;
    --white-color: #FFFFFF;
    --text-color: #2D2D2D;
    --purple: #6F74A6;
    --purple-light: #BDBFD9;

    --primary-color-025: rgb(17, 21, 64, 0.25);

    --font-exo-light: "Exo Light", sans-serif;
    --font-exo-regular: "Exo Regular", sans-serif;
    --font-exo-medium: "Exo Medium", sans-serif;
    --font-exo-semibold: "Exo Semibold", sans-serif;
}

.projects_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 10%;
    gap: 16px;
}

.title_tech {
    font-family: var(--font-exo-regular);
    font-size: 1rem;
    color: var(--text-color);
}

.slide_show_web,
.slide_show {
    display: flex;
    position: relative;
    width: 100%;
}

.card_web_project,
.card_project {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
}

.image_container {
    width: 100%;
    padding: 0 16px;
}

.project_image {
    width: 100%;
    cursor: pointer;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.prev_web, .next_web,
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -30px;
    color: var(--white-color);
    background-color: var(--primary-color-025);
    transition: 0.6s ease;
    user-select: none;
}

.prev_web,
.prev {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    border-radius: 50%;
}

.next_web,
.next {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
    border-radius: 50%;
}

.prev_web:hover, .next_web:hover,
.prev:hover, .next:hover {
    background-color: var(--primary-color);
}

.arrow {
    width: 10px;
}

.dot_container {
    max-width: 100%;
    margin: 10px auto;
}

.dots {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    gap: 10px;
}

.dot_web,
.dot {
    cursor: pointer;
    height: 12px;
    width: 12px;
    background-color: var(--purple-light);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active_web, .dot_web:hover,
.active, .dot:hover {
    background-color: var(--purple);
}

@media screen and (max-width: 768px) {
    .card_web_project,
    .card_project {
        flex: 1 100%;
    }
}