@charset "UTF-8";

@font-face {
    font-family: 'Exo Semibold';
    src: url(../assets/fonts/Exo-SemiBold.ttf) format('truetype');
    font-weight: 600;
}
  
@font-face {
    font-family: 'Exo Medium';
    src: url(../assets/fonts/Exo-Medium.ttf) format('truetype');
    font-weight: 500;
}
  
@font-face {
    font-family: 'Exo Regular';
    src: url(../assets/fonts/Exo-Regular.ttf) format('truetype');
    font-weight: 400;
}
  
@font-face {
    font-family: 'Exo Light';
    src: url(../assets/fonts/Exo-Light.ttf) format('truetype');
    font-weight: 300;
}

:root {
    --primary-color: #111540;
    --secundary-color: #363B73;
    --white-color: #FFFFFF;
    --text-color: #2D2D2D;
    --purple: #6F74A6;
    --purple-light: #BDBFD9;

    --primary-color-025: rgb(17, 21, 64, 0.25);

    --font-exo-light: "Exo Light", sans-serif;
    --font-exo-regular: "Exo Regular", sans-serif;
    --font-exo-medium: "Exo Medium", sans-serif;
    --font-exo-semibold: "Exo Semibold", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10%;
}

body {
    background-color: var(--white-color);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--white-color);
    z-index: 999;
}

nav {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 80px;
    transition: 0.3s ease;
}

.logo {
    width: 100px;
}

.nav_links {
    display: flex;
    gap: 30px;
}

.nav_links.active {
    background-color: var(--primary-color);
}

.link {
    font-family: var(--font-exo-regular);
    font-size: 1rem;
    color: var(--white-color);
    transition-duration: .5s;
}

.link:hover {
    text-decoration: underline var(--white-color) 2px;
    text-underline-offset: 8px;
}

.drawer {
    display: none;
    align-items: center;
    cursor: pointer;
}

main {
    background-color: var(--primary-color);
    margin-top: 80px;
}

.dev_section {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    padding: 5% 10%;
}

.dev_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 3px;
}

.title {
    font-family: var(--font-exo-medium);
    font-size: 1.5rem;
    color: var(--white-color);
}

.subtitle {
    font-family: var(--font-exo-regular);
    font-size: 1.25rem;
    color: var(--white-color);
}

.socials {
    display: flex;
    margin-top: 16px;
    gap: 10px;
}

.cv_button {
    background-color: var(--secundary-color);
    padding: 12px 18px;
    border-radius: 10px;
    border: none;
    font-family: var(--font-exo-medium);
    font-size: 1rem;
    color: var(--white-color);
    cursor: pointer;
    transition-duration: .5s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.cv_button:hover {
    background-color: var(--purple);
}

.social_button {
    background-color: var(--white-color);
    padding: 12px 22px;
    border-radius: 10px;
    border: none;
    font-family: var(--font-exo-medium);
    font-size: 1rem;
    color: var(--secundary-color);
    cursor: pointer;
    transition-duration: .5s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.social_button:hover {
    background-color: var(--purple);
    color: var(--white-color);
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 50%;
}

.profile_image {
    width: 300px;
    height: 300px;
}

.projects_section,
.services_section,
.skill_section,
.about_section {
    background-color: var(--white-color);
}

.about_container {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 8% 10%;
    border-bottom: 2px dashed var(--secundary-color);
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 16px;
}

.title_secundary {
    font-family: var(--font-exo-semibold);
    font-size: 1.25rem;
    color: var(--text-color);
}

.paragraph {
    font-family: var(--font-exo-regular);
    font-size: 1.25rem;
    text-align: justify;
    color: var(--text-color);
}

.founder {
    color: #3D64D9;
}

.dev_system_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 50%;
}

.dev_system {
    width: 200px;
    height: 191px;
}

.title_tertiary {
    font-family: var(--font-exo-semibold);
    font-size: 1.25rem;
    color: var(--text-color);
    text-align: center;
}

.services_container,
.skill_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 8% 10%;
    gap: 32px;
    border-bottom: 2px dashed var(--secundary-color);
}

.swiper {
    width: 100%;
}

.swiper-wrapper {
    margin-bottom: 50px;
}

.swiper-slide {
    display: flex;
    justify-content: space-around;
}

.swiper-pagination-bullet {
    background-color: var(--primary-color);
    height: 8px;
    width: 8px;
}
  
.swiper-pagination-bullet-active {
    background-color: var(--purple);
}

.skill_title {
    font-family: var(--font-exo-semibold);
    font-size: 1.125rem;
    color: var(--text-color);
    text-align: center;
}

.skill_image {
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

.services {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.card_services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.service_image {
    max-width: 150px;
}

.title_card {
    font-family: var(--font-exo-medium);
    font-size: 1.25rem;
    color: var(--text-color);
    text-align: center;
}

.subtitle_card {
    font-family: var(--font-exo-regular);
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
}

.contacts_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    padding: 4% 10%;
    gap: 16px;
}

.title_contacts {
    font-family: var(--font-exo-semibold);
    font-size: 1.25rem;
    color: var(--white-color);
}

.contacts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
}

.contact_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s ease;
}

.contact_form:hover {
    cursor: pointer;
    transform: scale(1.10);
}

.contact_form > img {
    width: 30%;
}

.title_contact_form {
    font-family: var(--font-exo-medium);
    font-size: 1.25rem;
    color: var(--white-color);
    
}

.subtitle_contact_form {
    font-family: var(--font-exo-light);
    font-size: 1rem;
    color: var(--white-color);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px 0;
    border-top: 2px solid var(--white-color);
}

.logo {
    width: 100px;
}

.footer_title {
    font-family: var(--font-exo-regular);
    font-size: 1rem;
    text-align: center;
    color: var(--white-color);
    margin-top: 10px;
    padding: 0 10px;
}

@media screen and (max-width: 1024px) {
    .nav_links {
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .nav_links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: 0px;
        width: 9.375em;
        padding: 32px 16px;
    }

    .nav_links.active {
        display: flex;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .drawer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .drawer > img {
        height: 24px;
        width: 32px;
    }

    .dev_section {
        height: 500px;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 40px;
    }

    .subtitle {
        text-align: center;
    }

    .about,
    .dev_info {
        width: 100%;
        align-items: center;
    }

    .dev_system_container,
    .profile {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .profile_image {
        width: 200px;
        height: 200px;
    }

    .about_container {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .paragraph {
        font-size: 1rem;
    }

    .dev_system_container {
        width: 100%;
    }

    .services {
        flex-direction: column;
        gap: 16px;
    }

    .skill_container {
        gap: 16px;
    }

    .contact_form > img {
        width: 60%;
    }

    .title_contact_form {
        font-size: 1rem;
    }
    
    .subtitle_contact_form {
        font-size: 0.875rem;
    }

    .footer_title {
        font-size: 0.75rem;
    }
}